body, html {
    height: 100%;
  }
  .myImageCover {
    
    background-image: url('../img/shoes.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
  }
  .myImg{
      margin-left:15%;
      margin-right: 20%;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .myImg img{
      margin-top: 30%;
  }
  .myImg h1{
      color: white;
  }
  .myImg p{
      color: white;
  }
  .anotherLog{
    margin-left:15%;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;

  }
  .jumbotron{
    background: linear-gradient( rgba(8, 8, 8, 0.5), rgba(17, 16, 16, 0.5) ), url('../img/pic.jpg');
    color: white;
    background-attachment: fixed;


  }
  .jumbotron h3{
    font-size: 20px;

  }
  .jumbotron p{
    font-size: 15px;

  }
  .container{
    text-align: center;
  }
  .container h2{
    margin-bottom: 4%;
    font-weight: bold;
  }
  #DesignT{
    display: none;
  }
  #developementT{
    display: none;

  }
  #planningT{
    display: none;
  }
  #DesignT h3{
    font-weight: bold;
  }
  #what{
    font-weight: bold;
  }
  #developementT h3{
    font-weight: bold;
  }
  #planningT h3{
    font-weight: bold;
  }
  .container{
    margin-bottom: 3%;
  }
  .box1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15%;
    display: none;
    }
.box2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 15%;
      display: none;
      }
.box3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15%;
  display: none;
}
.box4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15%;
  display: none;
}
.box5{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15%;
  display: none;
}
.box6{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15%;
  display: none;
}
.box7{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15%;
  display: none;
}
.box8{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15%;
  display: none;
}